#content {
   font-family: Arial;
    margin-top: 8%;
    width: 100%;
}
.headline {
}
.enter {
    left: 3%;
    margin-top: 6%;
    position: relative;
}
.text {
    left: 27%;
    margin-top: -8%;
    position: relative;
}
.save {
    left: 27%;
    margin-top: 2%;
    position: relative;
}
p{
	font-size:16px;
}
.go,.reset{
	background-color:#8AAF09;
	 width:7% ;
	 border-radius:5px;
}


