/* Author: N V Siva Reddy*/

.addProjectRelease{
    position: relative;
    width: 100%;
}
.leftAddProject {
     position:relative;
     width:40%;
}

.rightAddProject {
    left: 16%;
    margin-top: -3.5%;
    position: relative;
    width: 60%;
}

.mandatory {
     color: red;
}

.ReleaseName{
	width: 39.8%;
}

.buttons {   
    left: 16%;
    margin-bottom: 5%;
    margin-top: 2%;
    position: relative;
    width: 40%;

}
.saveAPR,.cancelAPR{
    background-color: #669933;
    border: medium none;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    text-align: center;
    width: 25% !important;
}

.cancelAPR{
	margin-left:11.5%;
}



