.addProjectRelease{
    margin-top: 10%;
    position: relative;
    width: 100%;
}
.leftAddProject {
     position:relative;
     width:40%;
}

.rightAddProject {
    left: 25%;
    margin-top: -9.3%;
    position: relative;
    width: 60%;
}

.mandatory {
     color: red;
}


.buttons {   
    left: 25%;
    margin-bottom: 5%;
    margin-top: 3%;
    position: relative;
    width: 40%;

}
#save{
    background-color: #8AAF09;
    border-radius: 5px;
    margin-right: 5%;
    width: 22%;
}

