#content {
   font-family: Arial;
    margin-top: 8%;
    width: 100%;
}
.enter {
    margin-top: 4%;
    width: 27%;
}

.text {
    left: 27%;
    margin-top: -8%;
    position: relative;
    width: 70%;
}
.saveSection {
    left: 27%;
    margin-top: 2%;
    position: relative;
    width: 40%;
}
.go, .reset {
    background-color: rgb(102, 153, 51);
    border: medium none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    width: 22% !important;
    height:18px;
    border-radius:5px;
}
#projectName,#technologies{
	width:40%;
}

