#content {
   font-family: Arial;
    margin-top: 8%;
    width: 100%;
}
.enter {
	margin-top:4%;
}
.text {
    left: 27%;
    margin-top: -8%;
    position: relative;
}
.saveSection {
    left: 27%;
    margin-top: 2%;
    position: relative;
}
p{
	font-size:16px;
}
.go,.reset{
    background-color: #669933;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width:8%;
    height:20px;
}

