
.field {
    line-height: 28px;
    margin-top: 0;
    position: relative;
    text-align: left;
}
.addUSer {
    height: 100%;
    position: relative;
    width: 100%;
}
.textField {
    color: #000000;
    font-family: 'Arial';
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    text-align: left;
}
.star {
    color: #FF0000;
}

div#submitDiv {
    clear: both;
    font-family: Arial;
    left: 22.3%;
    margin-top: 0;
    position: relative;
    text-align: left;
    width: 16%;
    word-wrap: break-word;
}

div#clearDiv {
    left: 35.2%;
    margin-top: -2.1%;
    position: relative;
    width: 16%;
}

button.clear {
    background-color: #669933;
    color: #FFFFFF;   
    width: 54%;
    border-radius:5px;
    border:medium none;
     font-weight: bold;
}
input.firstName, input.lastName, input.nickname, input.email, input.employeeId, input.designation, input.location, input.userIdTextAU, input.password, input.confirmPassword {
    width: 21%;
}
button.submit {
    background-color: #669933;
    color: #FFFFFF;    
    width: 54%;
    border-radius:5px;
    border:medium none;
     font-weight: bold;
}
hr {
    background-color: #E0E0E0;
    color: #E0E0E0;
    height: 2px;
}
input.password, input.userId {
    width: 21%;
}
.innerAddUserForm {
    margin-bottom: 5%;
    position: relative;
    top: 6%;
}
.innerAddUserFormLeft {
    float: left;
    position: relative;
}
.innerAddUserFormRight {
    left: 7%;
    position: relative;
    top: 1%;
}
p {
    font-size: 16px;
}
select.gender {
    width: 22%;
}
#content {
    margin-top: 8%;
}



