
#content {
    font-family: Arial;
    margin-top: 8%;
    width:100%;
}

#text {
    margin-top: 4%;
}

#nonUsers {
    margin-top: 4%;
    position: relative;
}
#copy {
    left: 36%;
    margin-top: -10.5%;
    position: relative;
}
#users {
    left: 43%;
    margin-top: -12.6%;
    position: relative;
}
.saveBlock {
    left: 43%;
    margin-top: 2%;
    position: relative;
}
.para{
	font-size:16px;
}
.go,.reset{
    background-color: #669933;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width: 8%;
    height:20px;
}
#projectName{
 width:auto;	
}