
#content {
    font-family: Arial;
    margin-top: 8%;
    width:100%;
}

#text {
    margin-top: 4%;
}

#nonUsers {
    margin-top: 4%;
    position: relative;
}
#copy {
    left: 36%;
    margin-top: -10.5%;
    position: relative;
}
#users {
    left: 43%;
    margin-top: -14.7%;
    position: relative;
}
.saveBlock {
    left: 43%;
    margin-top: 2%;
    position: relative;
    width:40%;
}
.para{
	font-size:16px;
}
.go, .reset {
    background-color: rgb(102, 153, 51);
    border: medium none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 18px;
    text-align: center;
    width: 28% !important;
}
#projectName{
 width:31%;	
}

.projectNameAllocate{
	margin-left:15%;
}
#nonExistingUsers,#existingUsers{
	width:33%; 
	height:120px;
	
}