
@charset "ISO-8859-1";
#TSAFieldSet {
    border:2px solid black;
}
p {
    font-size: 16px;
}
.projectIdHeader {
    margin-top: 2%;
    margin-left:15%;
    width: 15%;
}
.userProjectId {
    left: 25%;
    margin-top: -5%;
    position: relative;
    width: 18%;
}
.userHeader {
    left: 52%;
    margin-top: -5%;
    position: relative;
    width: 15%;
}
.userId {
    left: 60%;
    margin-top: -5%;
    position: relative;
    width: 18%;
}
.fromHeader {
    margin-top: 2%;
    margin-left:15%;
    position: relative;
    width: 15%;
}
.from {
    left: 25%;
    margin-left: 0;
    margin-top: -4.9%;
    position: relative;
}
.toHeader {
    left: 52%;
    margin-top: -4.8%;
    position: relative;
    width: 15%;
}
.to {
    left: 60%;
    margin-left: 0;
    margin-top: -4.9%;
    position: relative;
}
.statusHeader {
    margin-top: 2%;
    margin-left:15%;
    position: relative;
    width: 15%;
}
.status {
    left: 25%;
    margin-top: -4.9%;
    position: relative;
    width: 18%;
}
#searchTimeEntriesByApprover {
    background-color: #669933;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    left: 44.8%;
    margin-top: -5.8%;
    position: relative;
    text-align: center;
    width: 10%;
}
#submitComments{
	background-color: #669933;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width: 15%;
}
#clearTheComments{
	background-color: #669933;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    width: 15%;
}
#rejectedComments {
    display: none;
    width: 30%;
}
#calendarForFrom {
    left: 22%;
    margin-top: -6%;
    position: relative;
}
#calendarForTo {
    left: 57.5%;
    margin-top: -5.8%;
    position: relative;
}
#note {
    color: #FF0000;
    font-size: 12px;
    margin-left: 53%;
    position: relative;
}