.oldPasswordField, .passwordField, .newPasswordField {
    position: relative;
    margin: 0;    
}
.oldPasswordTextDiv,.confirmPasswordTextDiv {
    left: 28%;
    position: relative;
    margin-top: -5%;
    width:76%;    
}
.changePasswordContainer{
	position : relative;
	margin-top:5%;	
}

label.passwordlabelCP{
	font-size: 16px;
}

div.passwordTextDiv {
    left: 28%;
    position: relative;
    margin-top: -5%;
    width:76%;
}