
@charset "ISO-8859-1";
#content {
    margin-top: 8%;
}
#userTimeEntries th {
    background-color: #ADD8E6;
    color: #000000;
    font-size: 16px;
    text-align: center;
}
#userTimeEntries {
    border-collapse: collapse;
    margin: 2% 0 0 0.5%;
    width: 90%;
}
p {
    font-size: 16px;
}
#userTimeEntries td {
    font-size: 16px;
    padding: 1%;
    text-align: center;
}
tr:nth-child(2n) {
    background: none repeat scroll 0 0 #CDCDCD;
}
tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 #EFEFEF;
}
.dateHeader {
    float: left;
    margin-left: 0.6%;
    margin-top: 1%;
}
.searchByDate {
    margin-left: -33%;
    margin-top: 0;
}
.projectHeader {
    margin: 1% 1% 1% 28%;
    position: relative;
    left: 23%;
}
.searchByProjectId {
    bottom: 5%;
    left: 37%;
    position: relative;
    top: 0;
}
.searchUserTimeEntries {
    left: 38%;
    position: relative;
    top: -1%;
}
.savedTimeSheetsEntries {
    margin: 0.5%;
    width: 100%;
}
.addTimeEntry {
    background-color: #669933;
    color: #FFFFFF;
    font-weight: bold;
    left: 65%;
    margin-bottom: 2%;
    margin-top: 1%;
    position: relative;
    text-align: center;
}
#loadTimeSheetFilling {
    display: none;
}
.editTimeEntry {
    background-color: #669933;
    color: #FFFFFF;
    font-weight: bold;
    left: 55%;
    position: relative;
    text-align: center;
    top: 3%;
}
.deleteTimeEntry {
    background-color: #669933;
    color: #FFFFFF;
    font-weight: bold;
    left: 55%;
    position: relative;
    text-align: center;
    top: 3%;
}
.submitTimeEntries {
    background-color: #669933;
    color: #FFFFFF;
    font-weight: bold;
    left: 55%;
    position: relative;
    text-align: center;
    top: 3%;
}
#calendar {
    margin: 0% 1% 1% -2.8%;
}
