
@charset "ISO-8859-1";
#content {
    margin-top: 8%;
}
.defaultView {
    margin-top: 5%;
}
p {
    font-size: 16px;
}
#searchTimeEntriesTableForApprover th{
    background-color: #3091FF;
    padding: 1%;
    text-align: center;
    font-size: 16px;
    width:10%;
}
#searchTimeEntriesTableForApprover td{
    padding: 1%;
    text-align: center;
    font-size: 16px;
    width:10%;
}
#searchTimeEntriesTableForApprover {
    border-collapse: collapse;
    width: auto;
}
#searchTimeEntriesTableForApprover tr {
    padding: 1%;
    text-align: center;
    font-size: 16px;
}
tr:nth-child(2n) {
    background: none repeat scroll 0 0 #CDCDCD;
}
tr:nth-child(2n+1) {
    background: none repeat scroll 0 0 #EFEFEF;
}
.approve {
    background-image: url('images/approve.png');
}
.reject {
    background-image: url('images/reject.png');
}
