
@charset "ISO-8859-1";
#content {
    margin-top: 8%;
}
#userTimeEntries th {
    background-color: #3091FF;
    color: #000000;
    font-size: 16px;
    text-align: center;
}
#userTimeEntries {
    border-collapse: collapse;
    margin: 2% 0 2% 0.5%;
    width: 90%;
}
p {
    font-size: 16px;
}
#userTimeEntries td {
    font-size: 16px;
    padding: 1%;
    text-align: center;
}
#userTimeEntries tr:nth-child(2n+1) {
    background-color: #EEEEEE;
}
#userTimeEntries tr:nth-child(2n) {
    background-color: #DDDDDD;
}
.dateHeader {
    margin-top: 1%;
    width: 10%;
}
.searchByDate {
    left: 10%;
    margin-left: 0;
    margin-top: -4.9%;
    position: relative;
    width: 20%;
}
.projectHeader {
    left: 42%;
    margin-top: -4.9%;
    position: relative;
    width: 10%;
}
.searchByProjectId {
    left: 53.3%;
    margin-top: -5%;
    position: relative;
    width: 20%;
}
.searchUserTimeEntries {
    background-color: #669933;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    left: 55%;
    margin-top: -6.1%;
    position: relative;
    width: 10%;
    border:medium none;
}
.savedTimeSheetsEntries {
    margin: 0.5%;
    width: 100%;
}
.addTimeEntry {
    background-color: #669933;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    left: 62%;
    margin-bottom: 2%;
    margin-top: 1%;
    position: relative;
    text-align: center;
    border:medium none;
}
#loadTimeSheetFilling {
    display: none;
}
.editTimeEntry {
    background-color: #669933;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    left: 42%;
    position: relative;
    text-align: center;
    width: 10%;
    border:medium none;
}
.deleteTimeEntry {
    background-color: #669933;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    left: 43%;
    position: relative;
    text-align: center;
    width: 10%;
    border:medium none;
}
.submitTimeEntries {
    background-color: #669933;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    left: 44%;
    position: relative;
    text-align: center;
    width: 10%;
    border:medium none;
}
#calendarIcon {
    left: 7.5%;
    margin-top: -6%;
    position: relative;
}
