

.loginDiv {
    position: relative;
    margin-top: 12%;
}
img.login{
 vertical-align: sub;
}
.submitDivLogin,.clearDivLogin {
    height: 3%;    
    position: relative;
    width: 21%;
   
}
.submitDivLogin{
	left:1%
}
.error{
	margin-left: 3%;
	position: relative;
}
.clearDivLogin {
    left: 31.5%;
    margin-top: -6%;
}
.userIdField, .userIdText, .passwordText, .passwordField, .forgotPassword {
    height: 2%;
    margin: 1%;
    position: relative;
}
.star {
    color: #FF0000;
}
.userIdWidth,.passwordWidth{
width:50%;
}
#forgotPasswordModal{
z-index: 9999;	
}
/* #processing{
	margin-left: 3%;
} */
a.forgotPasswordLink{
    font-size:16px;
    text-align: left;
    text-decoration: none;
}
a.forgotPasswordLink:hover {
    color: #008000;
	cursor:pointer;
}
button.submitLogin  {
    background-color:#669933;
    display: inline-block;
    text-decoration: none; 
    width:100%;
    color:#FFFFFF;
    border-radius:5px;
    border:medium none;  
    font-weight: bold;
    
}
button.clearLogin {
    background-color:#669933;
    display: inline-block;
    text-decoration: none;
    border-radius:5px; 
    width:100%;
    border:medium none;   
    color:#FFFFFF;
    font-weight: bold;
}
p label.loginUserId {
	font-size:16px;
	}
	
fieldset.loginFieldSet{
    background-color: #EEEEEE;
    border: 2px groove #000000;
    border-radius: 5%;
    padding: 4.7% 0 7.4% 20%;
}
span#loginHeader{
	font-size:30px;
	margin: 0 0 0 3%;
}

.userIdText {
    margin-top: 3%;
}


input.emailToSend {
    width: 47%;
}


label#emailForgot{
	font-size: 16px;
}

#forgotButton {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}



/*p.error{*/
/*color:red;*/
/*}*/