.profileDetails {
	left: 10%;
}

.editProfileDiv {
	position: relative;
}

.firstNameText {
	margin-bottom: 10px;
}

.profileDiv {
	height: 100%;
	margin-top: 8%;
	position: relative;
	width: 100%;
}

p.upperDesignationField {
	width: 21%;
	position: relative;
    left: 23%;
}

.profileHeader {
	position: relative;
}

.line {
	position: relative;
}

.innerProfileDiv {
	position: relative;
}

.profilePhotoDiv {
	float: left;
	margin: 1%;
	position: relative;
}

button.changePassword {
    background-color: #669933;
    border-radius: 5%;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    width: 26.5%;
}

.editProfileHeader {
	clear: both;
	position: relative;
}


button.clearMyProfile {
	
    background-color: #669933;
    color: #FFFFFF;
    padding: 0.1%;
    width: 12%;

}

p {
	font-size: 16px;
	
}

.editFields {
	font-size: 13px;
	line-height: 38px;
	position: relative;
	width: 16%;
}

.editTextFields {
    left: 20%;
    line-height: 47px;
    margin-top: -45%;
    position: relative;
    width: 80%;
	
}

#profilePhotoDiv img {
	border-radius: 50%;
	  border: medium solid #72AEE0;
}

button.submitMyProfile {

    background-color: #669933;
    color: #FFFFFF;
    padding: 0.1%;
    width: 10%;
}

#clearMyProfileDiv {
    margin-left: 33%;
    margin-top: -2.3%;
    position: relative;
    width: 67%;
}

#submitMyProfileDiv {
    margin-left: 20%;
    margin-top: 0;
    position: relative;
    width: 80%;
}

div.changePasswordDiv {
    margin-left: 20%;
    margin-top: 1.8%;
    position: relative;
}

div.userIdTextDiv {
    left: -1%;
    position: relative;

}

input.userIdText {
    margin-top: 0;
}

#changePasswordModal{
	top:65%;
	}




/*.userId {*/
/*   margin: 0 0 7%;*/
/*}*/

input.employeeIdText, input.emailText, input.userIdText, input.designationText, input.genderText, input.firstNameText, input.lastNameText, input.nicknameText, input.locationText {
    width: 25%;
}


