.profileDetails {
	left: 10%;
}

.editProfileDiv {
	position: relative;
}

.firstNameText {
	margin-bottom: 10px;
}

.profileDiv {
	height: 100%;
	margin-top: 8%;
	position: relative;
	width: 100%;
}

p.upperDesignationField {
	width: 21%;
}

.profileHeader {
	position: relative;
}

.line {
	position: relative;
}

.innerProfileDiv {
	position: relative;
}

.profilePhotoDiv {
	float: left;
	margin: 1%;
	position: relative;
}

button.changePassword {
	background-color: #669933;
	border-radius: 5%;
	display: inline-block;
	text-decoration: none;
	width: 18%;
	color:#FFFFFF;
}

.editProfileHeader {
	clear: both;
	position: relative;
}

input.clear {
	width: 7%;
	padding: 0.1%;
	background-color: #669933;
	  color: #FFFFFF;
}

p {
	font-size: 16px;
	
}

.editFields {
	float: left;
	font-size: 13px;
	line-height: 38px;
	position: relative;
	width: 16%;
}

.editTextFields {
	left: 0;
	line-height: 47px;
	position: relative;
	
}

#profilePhotoDiv img {
	border-radius: 50%;
	  border: medium solid #72AEE0;
}

button.submit {
	width: 7%;
	background-color: #669933;
	  color: #FFFFFF;
	     padding: 0;
}

#clearMyProfileDiv {
	left: 27%;
	position: relative;
	margin-top: -2.4%;
}

#submitMyProfileDiv {
	left: 16%;
	margin-top: 0%;
	position: relative;
}

div.changePasswordDiv {
	left: 16%;
	margin-top: 1.8%;
	position: relative;
}

div.userIdTextDiv {
    left: -1%;
    position: relative;

}

input.userIdText {
    margin-top: 0;
}
/*.userId {*/
/*   margin: 0 0 7%;*/
/*}*/

