.profileDetails {
	left: 10%;
}

.editProfileDiv {
	position: relative;
	clear:both;
	margin-bottom:5%;
}

.firstNameText {
	margin-bottom: 10px;
}

.profileDiv {
	height: 100%;
	margin-top: 8%;
	position: relative;
	width: 100%;
}

p.upperDesignationField {
	width: 21%;
	position: relative;
    left: 18%;;
}

.profileHeader {
	position: relative;
}

.line {
	position: relative;
}

.innerProfileDiv {
	position: relative;
}

.profilePhotoDiv {
	float: left;
	margin: 1%;
	margin-top: 0;
	position: relative;
}

button.changePassword {
    background-color: #669933;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    width: 25.2%;
    border:medium none;
    font-weight: bold;
    
}

.editProfileHeader {
	clear: both;
	position: relative;
}


button.clearMyProfile {	
    background-color: #669933;
    color: #FFFFFF;    
    width: 14%;
    border:medium none;
    border-radius:5px;
    font-weight: bold;

}

p {
	font-size: 16px;	
}

.editFields {
	font-size: 13px;
	line-height: 38px;
	position: relative;
	width: 16%;
}

.editTextFields {
    left: 16.3%;
    line-height: 47px;
    margin-top: -45%;
    position: relative;
    width: 80%;
	
}

#profilePhotoDiv img {
	border-radius: 50%;
	border: medium solid #72AEE0;
}

button.submitMyProfile {
    background-color: #669933;
    color: #FFFFFF;  
    width: 14%;
    border:medium none;
    border-radius:5px;
    font-weight: bold;
    
}

#clearMyProfileDiv {
    margin-left: 28%;
    margin-top: -2%;
    position: relative;
    width: 67%;
    
}

#submitMyProfileDiv {
    margin-left: 16.3%;
    margin-top: 0;
    position: relative;
    width: 67%;
}

div.changePasswordDiv {
    margin-left: 16.3%;
    margin-top: 1.8%;
    position: relative;
}

div.userIdTextDiv {
    left: -1%;
    position: relative;

}

input.userIdText {
    margin-top: 0;
}

#changePasswordModal{
	top:65%;
	}
input.employeeIdText, input.emailText, input.userIdText, input.designationText, input.genderText, input.firstNameText, input.lastNameText, input.nicknameText, input.locationText {
    width: 25%;
}

.userIdFieldMP {
    margin-bottom: 5%;
    margin-left: 0;
}

