
.ProjectManagement {
    background-color: #5EA620;
    cursor: pointer;
    height: 162px;
    margin: 5% 1.5% 1.5%;
    position: relative;
    width: 30%;
}

.ProjectReleaseManagement {
	 background-color: #AE1A32;
    cursor: pointer;
    height: 162px;
    left: 33%;
    margin: -18.7% 2% 1.5% ;
    position: relative;
    width: 30%;
}

.SearchUser {
    background-color: #137381;
    cursor: pointer;
    height: 162px;
    left: 67%;
    margin:  -18.8% 1.5% 1.5%;
    position: relative;
    width: 30%;
}


.pmImg{
    left: 41%;
    padding-top: 15%;
    position: relative;
}
.pmText{
    color: #FFFFFF;
    left: 4%;
    padding-top: 10%;
    position: relative;
}
.prmImg{
	position: relative;
	left: 36%; 
	top: 30%;
}
.prmText{
	 color: white; 
	 position: relative; top: 48.5%; left: 4%;
}

.suImg{
	position: relative; left: 37%; top: 27%;
}
.suText{
	 color: white; position: relative; left: 4%; top: 40%;
}
