
.ProjectManagement {
    background-color: #5EA620;
    cursor: pointer;
    height: 162px;
    margin: 5% 1.5% 1.5%;
    position: relative;
    width: 30%;
}

.ProjectReleaseManagement {
    background-color: #AE1A32;
    cursor: pointer;
    height: 162px;
    left: 33%;
    margin: -18.7% 2% 1.5% ;
    position: relative;
    width: 30%;
}

.SearchUser {
    background-color: #137381;
    cursor: pointer;
    height: 162px;
    left: 67%;
    margin:  -18.8% 1.5% 1.5%;
    position: relative;
    width: 30%;
}


.pmImg{
    left: 41%;
    padding-top: 15%;
    position: relative;
}
.pmText{
    color: #FFFFFF;
    padding-left: 4%;
    padding-top: 10%;
    position: relative;
}
.prmImg{
    left: 41%;
    padding-top: 15%;
    position: relative;
}
.prmText{
	 color: white; 
	 position: relative; padding-top: 10%; padding-left: 4%;
}

.suImg{
	left: 41%;
    padding-top: 15%;
    position: relative;
}
.suText{
	 color: white; position: relative; padding-left: 4%; padding-top: 6%;
}
