/* Author: N V Siva Reddy*/

#resultTable{
	width:60%;
}

#resultTable th{
background-color:#3091FF;
padding:3%;
width:33%;
}
#resultTable tr:nth-child(even){
	background:#dddddd;
}
#resultTable tr:nth-child(odd){
	background:#EEEEEE;
}
#resultTable td{
padding:2%;
width:33%;
}
