#resultTable{
	width:50%;
}

#resultTable th{
background-color:#3091FF;
padding:4%;
width:33%;
}
#resultTable tr:nth-child(even){
	background:#dddddd;
}
#resultTable tr:nth-child(odd){
	background:#EEEEEE;
}
#resultTable td{
padding:2%;
width:33%;
}
.result{
    position: relative;
 	margin-top:5%;
 	margin-bottom:5%;
}