@charset "ISO-8859-1";

.roles {
     height: 50%;
     margin: 8% 0% 15% 0%;
     width: 90%;
}

p {
     font-size: 16px;
}

#employee {
     float: left;
}

#title {
     font-family: arial,monospace,sans-serif;
     font-style: normal;
     font-weight: bold;
}

#project {
     float: left;
     width: 30%;
}

#projectList {
     overflow: scroll;
}

#user {
     float: left;
     margin-left: 5%;
     width: 40%;
}

#userList {
     overflow: hidden;
}

#role {
     float: right;
     margin-left: 5%;
     width: 20%;
}

#rolesList {
     background-color: #EFEFEF;
     border: 1px solid #000000;
     table-layout: inherit;
     width: 100%;
}

#rolesList td {
     border-bottom: 1px solid #000000;
     display: table-cell;
     font-size: 16px;
     overflow: scroll;
     padding: 5%;
}

select {
     width: -moz-available;
}

#buttons {
     float: left;
     height: inherit;
     margin: 3% 0px 0px 80%;
     width: 35%;
}

#saveb, #cancelb {
     background-color: #669933;
     border: medium none;
     color: #FFFFFF;
     font-weight: bold;
     text-align: center;
     width: 28%;
}
