.content{
	margin-top: 10%;
    width: 60%;
}

.project {
    position: relative;
    width: 40%;
	 
}

.selectProjectName {
    left: 40%;
    margin-top: -5%;
    position: relative;
    width: 60%
	 
}