/* Author: N V Siva Reddy*/

.content{
	margin-top: 8%;
    width: 100%;
}

.project {
    position: relative;
    width: 40%;
	 
}

.selectProjectName {
    left: 16%;
    margin-top: -3.3%;
    position: relative;
    width: 60%;
	 
}

.SelectProject{
	width: 41.5%;
}

.mandatory {
     color: red;
}

.result{
    position: relative;
 	margin-top:5%;
 	margin-bottom:27%;
}