
div#nicknameFieldSU {
    color: #000000;
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    left: 0;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 15%;
}
div#nicknameTextSU {
    font-family: 'Arial';
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    left: 15%;
    margin-top: -4.5%;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 50%;
}
div#designationFieldSU {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    left: 0;
    margin-top: 2.2%;
    position: relative;
    text-align: left;
    width: 50%;
    word-wrap: break-word;
}
div#designationTextSU {
    color: #000000;
    font-family: 'Arial';
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    left: 15%;
    margin-top: -4.5%;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 50%;
}
div#emailFieldSU {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    left: 47%;
    margin-top: -4.5%;
    position: relative;
    text-align: left;
    width: 50%;
    word-wrap: break-word;
}
div#employeeIdFieldSU {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    left: 47%;
    margin-top: -7.5%;
    position: relative;
    text-align: left;
    word-wrap: break-word;
}
select.employeeId {
    color: #000000;
    font-family: 'Arial';
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}
div#search {
    color: #000000;
    font-family: 'Arial';
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    left: 63%;
    margin-top: 1%;
    position: relative;
    text-decoration: none;
}
hr {
}
div#content {
    height: 100%;
    margin-top: 8%;
    position: relative;
    width: 100%;
}
div#resultsContainer {
    position: relative;
}
div.searchUserContent {
    margin-top: 4%;
    position: relative;
    width: 74%;
}
div.employeeIdTextSU {
    left: 63%;
    margin-top: -4.1%;
    position: relative;
    width: 50%;
}
div.emailTextSU {
    left: 63%;
    margin-top: -4.5%;
    position: relative;
    width: 55%;
}
select.employeeId {
    width: 57.6%;
}
#emailText > input {
    width: 20%;
}
button.search {
    background-color: #669933;
    color: #FFFFFF;
    border: medium none;
    border-radius: 5px;   
    width: 12%;
}
input.nickname, input.employeeId, input.designation, input.email {
    width: 50%;
}
.focus {
    border: 2px solid #FF0000;
}
p.error {
    color: #FF0000;
}
