

table.resultsTable {
    border-collapse: collapse;
    color: #000000;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    width: 100%;
  
}
table.resultsTable thead {
/*    background-color: #3091FF;*/
    border-width: 0;
/*     padding: 0%; */
/*     height:46px; */
    
}
table.resultsTable thead th{
 padding-TOP: 2%;
 padding-bottom: 2%;
 width:17%;
 text-align: center;
 background-color: #3091FF;
}
table.resultsTable tbody td{
 padding-TOP: 1%;
 padding-bottom: 1%;
 width:17%;
  text-align: center;
}
.resultsDiv {
    position: relative;
}

.resultsTable tr:nth-child(odd)		{ background-color:#EEEEEE; }
.resultsTable tr:nth-child(even)		{ background-color:#DDDDDD; }



