
#content{
font-family:Arial;
margin-top:8%;
width:100%;
}
#project_name {
    left: 27%;
    margin-top: -4%;
    position: relative;
    width: 27%;
}
#results{
	margin-top:10%;
}
#memberDiv,#approverDiv,#noRoleDiv{
	float:left;
	width:100%;
}
#memberHeadLine{
	border-bottom:1px solid #F77E0D;
	margin-bottom:1%;
	color:#F77E0D;
	
}
#approverHeadLine{
	border-bottom:1px solid #2E85A3;
	margin-bottom:1%;
	color:#2E85A3;
}
#noRoleHeadLine{
	border-bottom:1px solid #2E85A3;
	margin-bottom:1%;
	color: #99CC2F;

}
#usersImagesAndNames{
	float:left;
	width:20%;
	margin-bottom:5%;
	text-align:center;
}	
#load{
	width:100%;
	height:100%;
	padding-bottom:16%;
	overflow:auto;
}
