
@charset "ISO-8859-1";
.majorDiv {
	position:relative;
}
.fieldset {
        width: 100%;
}
p {
    font-size: 16px;
}
.leftHeaders {
    margin-left: 3%;
    margin-top: 2%;
    position: relative;
    width: 15%;
}
.leftHeaderFields {
    left: 15%;
    margin-top: -28.5%;
    position: relative;
    width: 35%;
}
.rightHeaders {
    left: 53%;
    margin-top: -42%;
    position: relative;
    width: 15%;
}
.rightHeaderFields {
    left: 68%;
    margin-top: -31%;
    position: relative;
    width: 30%;
}
.datepicker {
    margin-left: 0;
    margin-top: -3%;
    width: 94%;
}
.projectId {
    margin-left: 0;
    margin-top: -5.5%;
    position: relative;
    width: 99%;
}
.task {
    margin-left: 0;
    margin-top: 4%;
    position: relative;
    width: 94%;
}
.hours {
    margin-left: 0;
    margin-top: 4%;
    position: relative;
    width: 45%;
}
.selectRelease {
    margin-left: 0;
    margin-top: 27%;
    position: relative;
    width: 93%;
}
.selectActivity {
    margin-top: 9%;
    position: relative;
    width: 94%;
}
.userRemarksInModal {
    margin-left: 0;
    margin-top: 7%;
    position:relative;
    resize:none;
     width: 90%;
}
.release {
    margin-left: 2%;
    margin-top: 16%;
}
.activity {
    margin-left: 4%;
    margin-top: 41%;
}
.clearTheFields {
    background-color: #669933;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    left: 68%;
    margin-top: 2%;
    position: relative;
    text-align: center;
    width: 13% !important;
}
.saveTheTimeEntry {
    background-color: #669933;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    left: 83.5%;
    margin-top: -13%;
    position: relative;
    text-align: center;
    width: 13% !important;
}
.remarksHeader {
    margin-left: 0;
    margin-top: 0;
}
#calendarIconInModal {
    left: 88%;
    margin-top: -33%;
    position: relative;
}
#minutes {
    margin-left: 49%;
    margin-top: -29%;
    position: relative;
    width: 50%;
}
#timeEntrymodal{
	 margin-top:2%;
	 margin-bottom:3%;
}
