
@charset "ISO-8859-1";
.majorDiv {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    position: fixed;
    width: 50%;
}
.fieldset {
    width: 60%;
}
p {
    font-size: 16px;
}
.leftHeaders {
    float: left;
    margin-left: 6%;
    margin-top: 2%;
    width: 20%;
}
.leftHeaderFields {
    float: left;
    margin-right: 3%;
    margin-top: 2%;
    width: 42%;
}
.rightHeaders {
    float: left;
    margin-left: 8%;
    width: 21%;
}
.rightHeaderFields {
    margin-bottom: 0;
    margin-left: 104%;
    margin-top: 11%;
    width: 45%;
}
.datepicker {
    background-color: #FFFFFF;
    margin-left: 0;
    margin-top: -3%;
}
.projectId {
    margin-left: 0;
    margin-top: -10%;
}
.task {
    margin-left: 0;
    margin-top: 7%;
}
.hours {
    margin-left: 0;
    margin-top: 4%;
}
.selectRelease {
    margin-left: 0;
    margin-top: 27%;
}
.selectActivity {
    margin-top: 7%;
}
.userRemarks {
    margin-left: 0;
    margin-top: 7%;
}
.release {
    margin-left: 2%;
    margin-top: 16%;
}
.activity {
    margin-left: 4%;
    margin-top: 41%;
}
.cancel {
    background-color: #669933;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 108%;
    margin-top: 2%;
    text-align: center;
}
.save {
    background-color: #669933;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 127%;
    margin-top: -23%;
    text-align: center;
}
.remarksHeader {
    margin-left: 0;
    margin-top: 0;
}
#calendarIcon {
    margin: -46% 1% 1% 108%;
    position: relative;
}
#minutes {
    margin-left: 71%;
    margin-top: -40%;
    postion: relative;
}
