
.field {
    line-height: 28px;
    margin-top: 0;
    position: relative;
    text-align: left;
}
.userProfile {
    height: 100%;
    position: relative;
    width: 100%;
}
.textField {
    color: #000000;
    font-family: 'Arial';
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    text-align: left;
}
.star {
    color: #FF0000;
}
div#submitDiv {
    clear: both;
    font-family: Arial;   
    left: 21.9%;
    position: relative;
    text-align: left;
    margin-top: 0%;   
    word-wrap: break-word;
    width: 77%;
}
div#clearDiv {
    left: 34.8%;
    margin-top: -2.1%;
    position: relative;
    width: 77%;
 
}
button.clearUserProfile {
    background-color: #669933;
    color: #FFFFFF;  
    width: 12%;
    border:medium none;
    border-radius:5px;
    font-weight: bold;
    
}
input.firstName, input.lastName, input.nickname, input.email, input.employeeId, input.designation, input.location, input.userIdTextUP, input.password, input.confirmPassword {
    width: 21%;
}
button.submitUserProfile {
	background-color: #669933;
    color: #FFFFFF;   
    width: 12%;
    border:medium none;
    border-radius:5px;
    font-weight: bold;
}
hr {
    background-color: #E0E0E0;
    color: #E0E0E0;
    height: 2px;
}
input.password {
    width: 21%;
}
.inneruserProfileForm {
    margin-bottom: 5%;
    position: relative;
    top: 6%;
}
.inneruserProfileFormLeft {
    float: left;
    position: relative;
}
.inneruserProfileFormRight {
    left: 7%;
    position: relative;
    top: 1%;
}
p {
    font-size: 16px;
}
select.gender {
    width: 22%;
}
#content {
    margin-top: 8%;
}

/*input.userIdTextUP {*/
/*    margin-left: 0%;*/
/*}*/
