div.image{
	height:60px;
	width : 50px;
	float : left;
	}
.data{
	height : 100px;
	width : 290px
	}
.logout,.myAccount {
    color: #0000FF;
    text-align: left;
    cursor: pointer;
}
.nicknameCursor{
	color: #000000;
    text-align: left;
   
	}
span.logout:hover,span.myAccount:hover {
    color: #008000;
}
p{
font-size: 16px;
}

img.welcomeImage{
	border-radius:25%;
	border:solid grey;
}